extends layout

block content
  .main.container
    .row
//      .col-md-6.col-md-offset-3
//        h1.display-4.m-b-2 Sign Up

        // register form
        form(method='POST' action='/register')
          div.form-group
            label(for='email') Email:
            input#email.form-control(type='email', placeholder='name@email.com' name='email')
          div.form-group
            label(for='age') Eta':
            input#age.form-control(type='number', min="1", max="99", placeholder='eta' name='eta')
          div.form-group
            label(for='gender') Sesso:
            input#gender.form-control(type='radio', value="maschio" placeholder='maschio' name='optradio')
            | Maschio
            input#gender.form-control(type='radio', value="femmina" placeholder='femmina' name='optradio')
            | Femmmina
          button.btn.btn-primary(type='submit') Invia
