doctype html
html
  head
    title= title
    link(rel='stylesheet', href='../boot/css/creative.css')
  body
    block content


    #content {
      position: absolute;
      top: 0px; width: 100%;
      z-index: 1;
      padding: 3em 0 0 0;
      text-align: center;
    }
